{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des articles</h1>
    <div class="container mb-5 mt-5">
        <h1 class="mb-5">{{ article.articleTitle }}</h1>
        <a class="mb-5">{{ article.articleText }}</a>
    </div>
    <h3>Commentaires</h3>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            {% for comment in article.comments %}
        </div>
        <div class="row">
            <p class="card-text">{{ comment.commentText }}</p>
            <a href="#" class="card-link">{{ comment.userId }}</a>
        </div>
    </div>
    <button><a href="{{ path('dashboard_articles_update', {id : app.user.id}) }}">Modifier</a></button>

{% endblock %}