{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mb-5 mt-5">
        <h1 class="mb-5">{{ article.articleTitle }}</h1>

        <h3 class="mb-5">{{ article.articleText }}</h3>
    </div>

    <div class="col mt-3">

  {#      <button><a href="{{ path('author', {id : }) }}">Voir l'auteur</a></button>#}

    {% if app.user %}
        <button class="btn btn-link"><a href="{{ path('dashboard_articles_update', {id : app.user.id}) }}">Modifier</a></button>
    {% endif %}

    </div>

    <div class="container mb-5 mt-5">

        <h3>Ajouter un commentaire : </h3>

        {{ form_start(commentForm) }}

                <div class="col-12 mt-3">
                    {{ form_row(commentForm.comment_article, {'attr': {class : "form-control"}}) }}
                </div>
                <div class="col-2 mt-3">
                    {{ form_row(commentForm.isConfirmed, {'attr': {class : "form-control"}}) }}
                </div>
                <div class="col-6 mt-3">
                    {{ form_row(commentForm.valider, {'attr' : {class : "btn btn-primary"}}) }}
                </div>
            </div>
        </div>
        {{ form_end(commentForm) }}
    </div>


    <div class="container mb-5 mt-5">

        <h3>Commentaires : </h3>

        {% for comment in comments %}

            <div>
                {{ comment.commentArticle }}
            </div>

            <div>
                <p>Publié par {{ comment.userId.pseudo }}</p>
            </div>
        {% endfor %}

    </div>



{% endblock %}