{% extends "base.html.twig" %}

{% block body %}

    {% for fanArt in fanArts %}
        <p>{{ fanArt.fanArtTitle }}</p>
        <p>{{ fanArt.fanArtHook }}</p>
        <img src="{{ fanArt.fanArtSketch }}" style="width:200px; height:200px;"></img>
    {% endfor %}

    <div class="row justify-content-around">
        <div class="col-3">
            {% if from > 1 %}
                <a href="{{path('fanArts', {from : from - 1}) }}"><h3>Précédent</h3></a>
            {% endif %}
        </div>
        <div class="col-3">
            <a style="text-align: end" href="{{ path('fanArts', {from : from + 1}) }}"><h3>Suivant</h3></a>
        </div>
    </div>

{% endblock %}