{% extends "base.html.twig" %}

{% block body %}

    {% block styleFanArts %}
        <link rel="stylesheet" href="{{ asset ("styles/fanarts.styles.css")}}">
    {% endblock %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                {% include "pages/parts/sidebar.html.twig" %}
            </div>

            <div class="col-10">
                <div class="row justify-content-center col-auto mt-4">
                    {% for fanArt in fanArts %}
                        <div class="elements mt-3 ml-4">
                            <p>{{ fanArt.fanArtTitle }}</p>
                            <img src="{{ fanArt.fanArtSketch }}" alt="">
                            <div class="text">
                                <p>{{ fanArt.fanArtHook|length > 30 ? fanArt.fanArtHook|slice(0, 30) ~ '...' : fanArt.fanArtHook }}</p>
                            </div>
                            <a href="{{ path("fanArt", {slug : fanArt.slug}) }}" class="btn btn-secondary">Voir</a>
                        </div>
                    {% endfor %}
                </div>
            
                <div class="container mt-3 mb-5">
                    <div class="row">
                        <div class="col-6">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        {% if from > 1 %}
                                            <a href="{{path('fanArts', {from : from - 1}) }}" class="btn-lg btn-dark">Précédent</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-4">
                                        <a href="{{ path('fanArts', {from : from + 1}) }}" class="btn-lg btn-dark buttons">Suivant</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            

{% endblock %}
