{% extends 'base.html.twig' %}

{% block styleCreateFanArt %}
    <link rel="stylesheet" href="{{ asset ("styles/create-fanart.styles.css")}}">
{% endblock %}

{% block body %}

    <div class="container align-items-center mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-sm-9 contenu">
                <h1 class="mt-5">Créer un article : </h1>

                {{ form_start(articleForm) }}
                <div class="form-group mt-4">
                    {{ form_row(articleForm.article_title, {'label':'Titre de l\'article','attr': {class : "form-control"}}) }}
                    {{ form_row(articleForm.authors, {'label':'Choisir un artriste','attr': {class : "form-control"}}) }}
                    {{ form_row(articleForm.article_text, {'label':'Saissisez votre texte','attr': {class : "form-control"}}) }}
                    <div class="row justify-content-around mt-3 mb-3">
                        {{ form_row(articleForm.ajouter, {'attr' : {class : "btn btn-primary"}}) }}
                    </div>
                    <div class="row ">
                        {{ form_row(articleForm.article_date) }}
                    </div>
                </div>
                {{ form_end(articleForm) }}
            </div>

        </div>
    </div>

    <button><a href="{{ path('dashboard_authors_create') }}">Créer un auteur</a></button>

{% endblock %}