{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-5">Créer un article : </h1>

    {{ dump(article) }}

    {{ form_start(articleForm) }}
    <div class="form-group mt-5">
        <div class="row">
            <div class="col-12 mt-5">
                {{ form_row(articleForm.article_title, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mt-5">
                {{ form_row(articleForm.authors, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mt-5">
                {{ form_row(articleForm.article_text, {'attr': {class : "form-control"}}) }}
            </div>

            <div class="col-12 mt-5">
                {{ form_row(articleForm.isConfirmed, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mt-5">
                {{ form_row(articleForm.ajouter, {'attr' : {class : "btn btn-primary"}}) }}
            </div>

        </div>
    </div>


    {{ form_end(articleForm) }}

<button><a href="{{ path('dashboard_authors_create') }}">Créer un auteur</a></button>

{% endblock %}