{% extends 'base.html.twig' %}

{% block styleCreateFanArt %}
    <link rel="stylesheet" href="{{ asset ("styles/create-fanart.styles.css")}}">
{% endblock %}

{% block body %}

    <div class="container align-items-center mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-sm-9 contenu">
                <h1 class="mt-5">Ajouter un artiste : </h1>

                {{ form_start(authorForm) }}
                    <div class="container mt-4">
                        {{ form_row(authorForm.author_name, {'label':'Nom de l\'artiste','attr': {class : "form-control"}}) }}
                        {{ form_row(authorForm.author_first_name, {'label':'Prénom','attr': {class : "form-control"}}) }}
                        {{ form_row(authorForm.facebook_page, {'label':'Page Facebook','attr': {class : "form-control"}}) }}
                        {{ form_row(authorForm.author_image, {'label':'Image de l\'artiste','attr': {class : "form-control"}}) }}
                        {{ form_row(authorForm.creation_image, {'label':'Dessin de l\'artiste','attr': {class : "form-control"}}) }}
                        <div class="row justify-content-around mt-3 mb-3">
                        {{ form_row(authorForm.ajouter, {'attr' : {class : "btn btn-primary"}}) }}
                        </div>
                        {{ form_row(authorForm.jobs, {'label':'Métiers','attr' : {class : "form-control", label : "Métier"}}) }}
                    </div>
                {{ form_end(authorForm) }}
            </div>
        </div>
    </div>






{% endblock %}