{% extends 'base.html.twig' %}
{% block styleCreateFanArt %}
    <link rel="stylesheet" href="{{ asset ("styles/create-fanart.styles.css")}}">
{% endblock %}

{% block body %}


    <div class="container align-items-center mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-sm-9 contenu">
                <h1 class="mt-5">Modifier un article : </h1>

                {{ form_start(articleUpdateForm) }}
                    <div class="form-group mt-5">
                            {{ form_row(articleUpdateForm.article_title, {'label':'Modifier le Titre','attr': {class : "form-control"}}) }}
                            {{ form_row(articleUpdateForm.article_text, {'label':'Modifier le texte','attr': {class : "form-control"}}) }}
                            {{ form_row(articleUpdateForm.ajouter, {'attr' : {class : "btn btn-primary"}}) }}
                    </div>
                {{ form_end(articleUpdateForm) }}
            </div>
        </div>
    </div>

{% endblock %}