{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-5">Créer un fan-art : </h1>


    {{ form_start(FanArtForm) }}
    <div class="form-group mt-5">
        <div class="row">
            <div class="col-12 mt-5">
                {{ form_row(FanArtForm.fan_art_title, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mt-5">
                {{ form_row(FanArtForm.fan_art_sketch, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mt-5">
                {{ form_row(FanArtForm.fan_art_hook, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mt-5">
                {{ form_row(FanArtForm.ajouter, {'attr' : {class : "btn btn-primary"}}) }}
            </div>

        </div>
    </div>


    {{ form_end(FanArtForm) }}




{% endblock %}