{% extends 'base.html.twig' %}

{% block styleCreateFanArt %}
    <link rel="stylesheet" href="{{ asset ("styles/create-fanart.styles.css")}}">
{% endblock %}

{% block body %}
    <h1 class="mt-5">Créer un fan-art : </h1>

    <div class="container align-items-center mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-sm-9 contenu">
                <h1>Créer un fan-art : </h1>

                {{ form_start(FanArtForm) }}
                <div class="container mt-4">
                    {{ form_row(FanArtForm.fan_art_title, {'label':'Titre du Fan Art','attr': {class : "form-control"}}) }}
                    {{ form_row(FanArtForm.fan_art_sketch, {'label':'Votre Fan Art','attr': {class : "form-control"}}) }}
                    {{ form_row(FanArtForm.fan_art_hook, {'label':'Phrase d\'accroche','attr': {class : "form-control"}}) }}
                    {{ form_row(FanArtForm.editor_id, {'label':'Choisissez un éditeur','attr': {class : "form-control", label : "Editeur"}}) }}
                    <div class="row justify-content-around mt-3 mb-3">
                        {{ form_row(FanArtForm.ajouter, {'attr' : {class : "btn btn-primary"}}) }}
                    </div>
                </div>
                {{ form_end(FanArtForm) }}
            </div>
        </div>
    </div>

    <button><a href="{{ path('dashboard_editors_create') }}">Créer un éditeur</a></button>

{% endblock %}