{% extends '/base.html.twig' %}

{% block body %}

    <h1 class="mt-5">Créer un Fan-Art</h1>

    {{ form_start(fanArtForm) }}

    <div class="form-group mt-5">
        <div class="row">
            <div class="col-4">
                {{ form_row(fanArtForm.fan_art_title, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-4">
                {{ form_row(fanArtForm.fan_art_hook, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12">
                {{ form_row(fanArtForm.fan_art_sketch, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12">
                {{ form_row(fanArtForm.isConfirmed, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-6">
                {{ form_row(fanArtForm.ajouter, {'attr' : {class : "btn btn-primary"}}) }}
            </div>
        </div>

    </div>


    {{ form_end(fanArtForm) }}


{% endblock %}