{% extends '/base.html.twig' %}

{% block body %}
    <h1 class="mt-5">Modifier un fan-art : </h1>


    {{ form_start(fanArtUpdateForm) }}
    <div class="form-group mt-5">
        <div class="row">
            <div class="col-6 mt-5">
                {{ form_row(fanArtUpdateForm.fan_art_title, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-6 mt-5 .text-center">
                {{ form_row(fanArtUpdateForm.fan_art_hook, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mt-5">
                {{ form_row(fanArtUpdateForm.fan_art_sketch, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mt-5">
                {{ form_row(fanArtUpdateForm.isConfirmed, {'attr': {class : "form-control"}}) }}
            </div>
            <div class="col-12 mt-5">
                {{ form_row(fanArtUpdateForm.ajouter, {'attr' : {class : "btn btn-primary"}}) }}
            </div>

        </div>
    </div>


    {{ form_end(fanArtUpdateForm) }}

{% endblock %}