{# Header + bouton #}
{% block body %}
    <header>

        <div class="block-middle">
            <div class="element-middle-top">
                <div class="background-middle-top"></div>
            </div>
            <div class="container">
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-secondary btn-lg">Large button</button>
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-secondary btn-lg">Large button</button>
            </div>
{#            <div class="element-middle-bottom">#}
{#                <button class="pagebtn"><a href="/">Accueil</a></button>#}
{#                <button class="pagebtn"><a href="{{ path ("articles", { from : 1 })}}">Artistes</a></button>#}
{#                <button class="pagebtn"><a href="{{ path ("fanArts", { from : 1 }) }}">Fan Arts</a></button>#}
{#                {% if not app.user %}#}
{#                    <button class="pagebtn"><a href="{{ path('create_users') }}">S'inscrire</a> </button>#}
{#                    {% else %}#}
{#                    <button class="pagebtn"><a href="{{ path('dashboard_user_update', { pseudo: app.user.pseudo}) }}">Compte</a></button>#}
{#                {% endif %}#}
{#            </div>#}
        </div>

        {# Formulaire #}
        <div class="element-right">

            {% if app.user %}
                <button class="submit"><a href="{{ path('logout') }}">Se déconnecter</a> </button>
            {% else %}
                <button class="submit"><a href="{{ path('login') }}">Se connecter</a> </button>
            {% endif %}

        </div>
    </header>

{% endblock %}

